@model _51DegreesFullExample.Models.IndexViewModel;

<html>
    <head>
        @* Is this needed since we're sending Accept-CH headers *@
        <meta http-equiv="Delegate-CH" content="Sec-CH-UA-Model https://cloud.51degrees.com; Sec-CH-UA https://cloud.51degrees.com; Sec-CH-UA-Arch https://cloud.51degrees.com; Sec-CH-UA-Full-Version https://cloud.51degrees.com; Sec-CH-UA-Mobile https://cloud.51degrees.com; Sec-CH-UA-Platform https://cloud.51degrees.com; Sec-CH-UA-Platform-Version https://cloud.51degrees.com" />
    </head>

    <noscript>
        <div class="alert">
            WARNING: JavaScript is disabled in your browser but is required. Re-enable it in your browser and refresh to continue.
        </div>
    </noscript>

    @await Component.InvokeAsync("FiftyOneJS")

    <script>
        window.onload = function () {

            // TODO: handle fod timeout or error


            fod.complete(function (data) {
                let device = data.device;
                var postback = {};

                if (device !== null) {
                    callback(device);
                }
                // TODO: handle else

                function callback(deviceData) {
                    var backToLP = new XMLHttpRequest();
                    backToLP.open('POST', '/devicedetectioncallback', true);
                    backToLP.setRequestHeader('Content-Type', 'application/json');
                    postback.SerializedDeviceData = JSON.stringify(deviceData);
                    var postbackJson = JSON.stringify(postback);

                    backToLP.send(JSON.stringify(postbackJson));

                    backToLP.onreadystatechange = function () {
                        if (backToLP.readyState === XMLHttpRequest.DONE) {
                          var status = backToLP.status;
                          if (status === 0 || (status >= 200 && status < 400)) {
                            window.location.href = backToLP.responseText.split('"').join('');
                          }
                          else {
                            var errorMessage = encodeURIComponent(`Error calling devicedetectioncallback: ${status} - ${backToLP.responseText}`);
                            window.location.href = "/Home/Error?message=" + errorMessage;
                          }
                        }
                    }
                }
            });
        }

    </script>
</html>